/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

select option {
  @apply !bg-slate-800
  /* margin: 40px; */
  /* background: rgba(0, 0, 0, 0.3) !important;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); */;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
